body{
    font-family: fantasy;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("./images/galaxy7.gif");
    /* position:fixeds; */
    /* background-repeat: repeat; */
}

#win-background{
    background-color: black;
    background-image: url("./images/win.gif")
}

#tie-background{
    background-image: url("./images/Tie1.gif");
    background-size: 500px 500px;
}

#board{
    width: 618.5px;
    height: 585px;
    animation: animate 5s infinite;
    margin: auto;
}
@keyframes animate {

    40% {
        background-color: #1b1641;

    }  
   
}

.squer{
    width: 203.3px;
    height: 193px;
    margin: -2px;
    display: inline-block;
    border: 2px outset white;
}


.button{
    width: 150px;
    height: 70px;
    border-radius: 20px;
    background-color: rgb(219, 215, 207);
    font-family:cursive ;
    font-weight: bolder;
    text-align: center;
    font-size: medium;
    margin: 20px 0 0 0;
    border: 2px outset ;

}

.button:hover{

    background-color:rgb(202, 167, 202) ;
    color: white;
    transition: all 0.5s;
    font-size:large ;
    cursor: pointer;
}

.image{
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 40px;
    border-radius: 500px;
    /* border: 2px solid black; */
}

#show-turn{
    color: white;
}

/* iphone x */
@media screen and (max-device-width: 375px){
    body{
        width: 100%;
        margin: auto;
        position: fixed;
      }
    
#board{
    width: 100%;
    margin: auto;


}

.squer{
    width: 32.5%;
    height: 33%;
    margin: -2px;
    display: inline-block;
    border: 2px outset white;
}

.image{
    position: absolute;
    width: 10%;
    height: 10%;
    margin: auto;
    padding: 30px;
}


}

/* Galaxy Note 9 */

@media screen and (min-device-width: 375px) and (max-device-width: 414px)  {
    body{
        width: 100%;
        margin: 2px;
        position: fixed;
      }
    
#board{
    width: 90%;

}

.squer{
    width: 32.5%;
    height: 33%;
    margin: -2px;
    display: inline-block;
    border: 2px outset white;
}

.image{
    position: absolute;
    width: 10%;
    height: 10%;
    margin: auto;
    padding: 40px;
}

}